<footer class="site-footer site-footer-extras">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><address class="lab-address">Max-Delbrück-Centrum für Molekulare Medizin<br>
          Building 89<br>
          Robert-Rössle-Str. 10<br>
          13125 Berlin</address></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <!--DO I WANT SOMETHING HERE?? SOCIAL MEDIA LIST?????????-->
        <!--<p>Lorem Git/FB/Twitter</p>  -->
      </div>

      <div class="footer-col  footer-col-3">
        <a href="https://www.mdc-berlin.de/bimsb" target="_blank"><img src="https://i.imgur.com/c5sstzV.png" title="source: imgur.com" class="bimsb-img bimsb-img-bimsb-footer" alt="BIMSB"/></a>
        </a>
      </div>
    </div>
  </div>

  <hr/>
  <div class="wrapper disclaimer">
    <a href="{{ site.baseurl }}/imprint">Imprint / Impressum</a>
    <a href="{{ site.baseurl }}/data_privacy">Data Privacy</a>

    <p class="design-cred">Created by <a href="https://github.com/bellonet" target="_blank">bellonet</a></p>
  </div>

</footer>
