<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><p><a href="mailto:{{ site.email }}">{{ site.email }}</a><p></li>
          <li><address>Max-Delbrück-Centrum für Molekulare Medizin<br>
          Building 89<br>
          Robert-Rössle-Str. 10<br>
          13125 Berlin</address></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <!--DO I WANT SOMETHING HERE?? SOCIAL MEDIA LIST?????????-->
        <!--<p>Lorem Git/FB/Twitter</p>  -->
      </div>

      <div class="footer-col  footer-col-3">
        <a href="https://www.mdc-berlin.de/bimsb" target="_blank"><img src="http://i.imgur.com/sbFxqwc.png?1" title="source: imgur.com" class="bimsb-img" alt="BIMSB"/></a>
        </a>
      </div>
    </div>
  </div>

  <hr/>
  <div class="wrapper">
    <p class="design-cred">Designed by <a href="https://github.com/bellonet" target="_blank">bellonet</a></p>
  </div>

</footer>
