<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><p><a href="mailto:{{ site.email }}">{{ site.email }}</a><p></li>
          <li><address>Max-Delbrück-Centrum für Molekulare Medizin<br>
          Building 89<br>
          Robert-Rössle-Str. 10<br>
          13125 Berlin</address></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <!--DO I WANT SOMETHING HERE?? SOCIAL MEDIA LIST?????????-->
        <p>Lorem Git/FB/Twitter</p>
      </div>

      <div class="footer-col  footer-col-3">
        <a href="https://www.mdc-berlin.de/bimsb">
          <img src="assets/BIMSB.png" class="bismb-img" alt="BISMB" style="height:80px;border:0;">
        </a>
      </div>
    </div>

  </div>

</footer>
