<header class="site-header site-header-bimsb">

  <div class="wrapper">

    <div class="main-menu extendfull extendleft extendright main-menu-bimsb"> 
      <nav class="site-nav">

        <a href="#" class="menu-icon">
           <span class="glyphicon glyphicon-list" style="color:white" aria-hidden="true"></span>
        </a>

        <div class="trigger">
          {% assign pages = site.pages | sort:"weight"  %}
          {% for page in pages %}
            {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
          <a class="page-link bimsb-link" href="/bimsb_seminar/">BIMSB Seminar</a>
        </div>
      </nav>
    </div>
  </div>

  <div class="wrapper">

    <div class="site-title-4-extra"><a class="title-link" href="{{ site.baseurl }}/">{{ site.title }}</a></div>

  </div>

</header>
