<header class="site-header">

  <div class="wrapper">

    <div class="main-menu full-width"> 
      <nav class="site-nav">

        <a href="#" class="menu-icon">
           <span class="glyphicon glyphicon-list" style="color:white" aria-hidden="true"></span>
        </a>

        <div class="trigger">
          {% assign pages = site.pages | sort:"weight"  %}
          {% for page in pages %}
            {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
          <a class="page-link bimsb-link" href="{{ site.baseurl }}/bimsb_seminar/">BIMSB Seminar</a>
        </div>
      </nav>
    </div>
  </div>

  <div class="wrapper">

    <div class="site-title"><a class="title-link" href="{{ site.baseurl }}/">{{ site.title }}</a></div>

    <div class="expanded-title"><a class="title-link" href="{{ site.baseurl }}/">Microscopy, Image Analysis and Modeling of Developing Organisms</a></div>

  </div>

</header>
