<header class="site-header site-header-bimsb">

  <div class="wrapper">

    <div class="main-menu extendfull extendleft extendright main-menu-bimsb"> 
      <nav class="site-nav">
            <a href="https://www.mdc-berlin.de/bimsb" target="_blank"><img src="http://i.imgur.com/c5sstzV.png" title="source: imgur.com" class="bimsb-img-header" alt="BIMSB"/></a>

            <a class="page-link home-from-bimsb-page pull-right" href="{{ site.baseurl }}/"><small>Back to the Preibisch Lab website</small></a>
      </nav>
    </div>
  </div>

  <div class="wrapper">

    <div class="site-title-4-extra"><a class="title-link" href="{{ site.baseurl }}/bimsb_seminar/">BIMSB Seminar Series 2017</a></div>

  </div>

</header>
