/**
 * Site header
 */

.site-header {
    background: black;
    background: linear-gradient(#1c1c1c, #333333);
    border-top: 5px solid $grey-color-dark;

    // Positioning context for the mobile navigation icon
    position: relative;
    padding-bottom: 10px;
}

.site-title {
    // font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 30px;
    margin-top: 20px;
    /*letter-spacing: -1px;*/
    float: left;

    .title-link {
        color: white;
        text-decoration: none;
    }
}

.expanded-title {
    // font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #666666;
    font-size: 18px;
    padding-top: 65px;
    margin-bottom: 20px;
}

.main-menu {
    border-top: 3px solid #467AE2;
    padding-top: 10px;
    text-align: left;
}


.site-nav {

    float: left !important;

    .page-link {

        color: #d1d1d1;
        line-height: $base-line-height;
        margin-right: 40px;

    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    background: linear-gradient(#1c1c1c, #333333);
    border-top: 1px solid $grey-color-light;
    padding-top: 10px;
}

.footer-heading {
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(43%);
    width:         calc(43%);
}

.bimsb-img {
    margin-top: 50px;
    opacity: 0.8;
    float: right; 
    height:80px;
    border:0;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.design-cred {
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-right: 12px;
    color: gray; 
    font-size: 90%; 
    float: right;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.collage-cell {
    border-top: 10px solid $collage-border-color;
    border-right: 10px solid $collage-border-color;
    overflow: hidden;
    padding-left: 0px;
}

.collage-cell-big {  
    height: 190px;      
} 

.collage-cell-small {  
    height: 100px;
}  

.collage-cell-mid {  
    height: 150px;    
    border-bottom: 10px solid $collage-border-color;  
}   

.collage-cell-left {
    border-left: 10px solid $collage-border-color;
}

.vid_needs_white_background {
    padding-left: 20px !important;
    background: white;
}

.vid_needs_black_background {
    
    background: black;
}

.video-title {
  position: absolute;
  top: 2;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 80%; 
  color: #00FFFF;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  visibility: hidden;
  

}

.hover-play:hover .video-title {
  visibility: visible;
  opacity: 1;
}

.page-heading {
    font-size: 20px;
    font-weight: bold;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 18px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/********************************************************/
/*******************Lab Members**************************/

.member-img {

    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    padding: 0;
}
