/**
 * Site header
 */

.site-header {
    background: black;
    background: linear-gradient(#003d6d, #00589C);
    border-top: 5px solid $grey-color-dark;

    // Positioning context for the mobile navigation icon
    position: relative;
    padding-bottom: 5px;
}

.site-title {
    border-top: 1px solid #ffffff;
    // font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 30px;
    font-style: bold;
    padding-top: 20px;
    /*letter-spacing: -1px;*/
    text-align: center;

    .title-link {
        color: white;
        text-decoration: none;
    }
}

.expanded-title {
    // font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #FFFFFF;
    font-size: 18px;
    padding-top: 5px;
    margin-bottom: 20px;
    text-align: center;

    .title-link {
        color: white;
        text-decoration: none;
    }
}

.main-menu {
    background: #003662;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.site-nav {

    .page-link {

        color: #FFFFFF;
        line-height: $base-line-height;
        margin-right: 40px;

    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.item {
    position: absolute;
    top: 50%;
    left: 50%;
}

/**
 * Site footer
 */
.site-footer {
    background: linear-gradient(#003d6d, #00589C);
    border-top: 1px solid $grey-color-light;
    padding-top: 10px;
}

.footer-heading {
    color: white;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: $spacing-unit / 4;
}

.contact-list {
    list-style: none;
    margin-left: 0;
}

.lab-address {
    margin-top: 10px;
    margin-bottom: 0px !important;
}

.footer-col-wrapper {
    font-size: 15px;
    color: #FFFFFF;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 10;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(43%);
    width:         calc(43%);
}

.bimsb-img {
    margin-top: 50px;
    opacity: 0.8;
    float: right; 
    height:80px;
    border:0;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.design-cred {
    margin-top: 5px;
    margin-bottom: 5px; 
    margin-right: 12px;
    color: #FFFFFF !important; 
    font-size: 90%; 
    float: right;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.intro {
    /*background: #666666;*/
    margin-top: -30px !important;
    overflow-x: hidden;
}

.carousel-inner {
    background: black;
}

.carousel .item {
  height: 280px;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{

    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.page-heading {
    font-size: 20px;
    font-weight: bold;
    color: #00589C;
}

.lab-description-section {
    padding-top: 5px;
}

/******/

.extendfull, .extendleft
{
    padding-left: 200px;
    margin-left: -200px;
}
.extendfull, .extendright
{
    padding-right: 200px;
    margin-right: -200px;
}


.lab-updates {
    background: #f6f6f6;
}

.inline-block-row .col-xs-4 {
    vertical-align: top;
    display: inline-block;
    float:none;
    white-space: none;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-header-index {
    margin-bottom: 5px;
}

.post-link {
    display: block;
}

.post-excerpt-index {
    font-size: $small-font-size;
    margin-bottom: 25px;
}

/*******************************************
 * Posts
 ******************************************/
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    /*margin-bottom: $spacing-unit;*/

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/********************************************************/
/*******************Lab Members**************************/

.sticky-members {
    background: white;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.member-img-small {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: -200px;
    padding-bottom: -200px;
}

.member-img-small p {
    position: relative;
    bottom: 50px;
    text-align: center;
    visibility: hidden;
    pointer-events:none; 
    font-size: 15px;
}

.member-img-small img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    padding: 0;
    margin-bottom: -20px;
}

.member-img-small img:hover {
    cursor: pointer;
}


.member-img {
    margin-left: 10px;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    padding: 0;
}

/********************************************************/
/***********************Jobs*****************************/

.jobs-contact a:link {
    color: black;
    text-decoration: underline;
}
